.course-card-container {
    margin: 0.5rem 2rem 0 2rem;
    box-sizing: border-box;
    min-height: 100vh;
}

.course-card-container > h4 {
    padding: 24px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.course-list-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.course-list-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}